@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

* {
  box-sizing: border-box;
}

.border-theme-white {
  border: 1px solid #fff;
}

.border-theme-black {
  border: 1px solid #000;
}

.border-theme-gray {
  border: 1px solid #b4b3b3;
}
